# Environnements virtuels
.venv/
.venv*/
venv/
env/

# Cache Python
core/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/

# Conserver third_party pour inclure les modifications des dépôts officiels
# third_party/

data/
checkpoints/
results/

third_party/Depth-Anything-V2/metric_depth/exp

third_party/HTC-DC-Net/checkpoints

results/htc_dc_net_training